/*.main-layout-transparent {*/
    /*background: url('images/transparent.jpg') center / cover;*/
/*}*/

/*.main-layout-transparent .mdl-layout__header,*/
/*.main-layout-transparent .mdl-layout__drawer-button {*/
    /*!* This background is dark, so we set text to white. Use 87% black instead if*/
       /*your background is light. *!*/
    /*color: white;*/
/*}*/

/*.mdl-layout-title {*/
    /*font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;*/
/*}*/

body {
    background: #EEEEEE;
}

/*.mdc-toolbar__row:first-child::after {*/
    /*background-size: cover;*/
    /*background: url("images/transparent.jpg") center;*/
/*}*/

.mdc-toolbar .mdc-toolbar__title {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif !important;
}

.mdc-card {
    background: white;
}

.container {
    margin: 30px;
}

.job-card {
    width: 100%;
    margin-bottom: 20px;
}

.job-card .mdc-card__media {
    color: #fff;
    height: 100px;
    background: url('images/astronaut.jpg') top / cover;
}

.job-card .mdc-card__title {
    color: #fff;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.job-card .mdc-card__supporting-text {
    padding: 20px;
}

.job-card > .mdc-card__menu {
    color: #fff;
}

.job-card .job-prop {
    vertical-align: middle;
    margin-right: 10px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.job-card .material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.job-card-more .mdc-card__media {
    height: 150px;
}

.job-card .mdc-card__supporting-text {
    padding-bottom: 5px;
}

.job-detail-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.job-detail-card .mdl-card-main__title {
    color: #fff;
    height: 144px;
    background: url('images/astronaut.jpg') top / cover;
}

.job-detail-card .mdl-card__title-text {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.job-detail-card .job-detail-text {
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.add-job-panel {
    width: 100%;
    padding: 20px;
}

.mdc-card__title--large {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif !important;
}

.add-job-panel .add-job-form {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.add-job-panel .mdc-textfield {
    display: block;
    width: 100%;
}

.add-job-panel .mdc-textfield--multiline {
    margin-top: 30px !important;
}

.login-panel {
    width: 100%;
    padding: 20px;
}

.login-panel .mdc-textfield {
    display: block;
    width: 100%;
}

.login-job-panel .mdc-textfield--multiline {
    margin-top: 30px !important;
}

.login-panel .login-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.delete-confirm-card {
    padding: 20px;
}

.delete-confirm-card button {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.mdc-fab {
    position: fixed;
    margin-right: 30px;
    margin-bottom: 30px;
    bottom: 0;
    right: 0;
    z-index: 2;
}