body {
    background: #E0E0E0;
}

.container {
    margin: 30px;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 10px;
    }
}

.mdc-toolbar .mdc-toolbar__title {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif !important;
}

.mdc-card {
    background: white;
}

.no-job-card {
    padding: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.job-card {
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .job-card {
        margin-bottom: 10px;
    }
}

.job-card .mdc-card__media {
    color: #fff;
    height: 150px;
    background: url('images/bamboo.jpg') center / cover;
}

.job-card .mdc-card__title {
    color: #fff;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.job-card .mdc-card__supporting-text {
    padding: 20px;
}

.job-card > .mdc-card__menu {
    color: #fff;
}

.job-card .job-prop {
    vertical-align: middle;
    margin-right: 10px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.job-card .material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.job-card-more .mdc-card__media {
    height: 150px;
}

.job-card .mdc-card__supporting-text {
    padding-bottom: 5px;
}

.job-detail-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .job-detail-card {
        padding: 10px;
        margin-bottom: 10px;
    }
}

.job-detail-card .job-detail-text {
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

@media screen and (max-width: 800px) {
    .job-detail-card .job-detail-text {
        margin-left: 0;
        margin-top: 5px;
    }
}

.add-job-panel {
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 800px){
    .add-job-panel {
        padding: 10px;
    }
}

.mdc-card__title--large {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif !important;
}

.add-job-panel .add-job-form {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.add-job-panel .mdc-form-field {
    display: inline-block;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: inherit;
}

.add-job-panel .mdc-form-field .mdc-radio {
    vertical-align: middle;
}

.add-job-panel .mdc-textfield {
    width: 100%;
}

.add-job-panel .mdc-textfield input {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.add-job-panel .mdc-textfield--multiline {
    margin-top: 30px !important;
}

.login-panel {
    width: 100%;
    padding: 20px;
}

.login-panel .mdc-textfield {
    display: block;
    width: 100%;
}

.login-job-panel .mdc-textfield--multiline {
    margin-top: 30px !important;
}

.login-panel .login-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.delete-confirm-card {
    padding: 20px;
}

.delete-confirm-card button {
    font-family: "Roboto", "Open Sans", "Microsoft Yahei", sans-serif;
}

.mdc-fab {
    position: fixed;
    margin-right: 30px;
    margin-bottom: 30px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .mdc-fab {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}