{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'mdl/material.css' %}">
    <script src="{% static 'mdl/material.js' %}"></script>
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
    <link rel="stylesheet" href="{% static 'material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'efz-icon.css' %}">

    <link rel="stylesheet" href="{% static 'material-components-web.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>

    <title>EFZer Jobs</title>

    <style>
      :root {
          --mdc-theme-primary: #D50000;
          --mdc-theme-secondary: #E91E63;
      }
    </style>

</head>

<body class="mdc-typography">

{% block navbar %}

<header class="mdc-toolbar mdc-elevation--z8">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="/jobs" class="material-icons mdc-toolbar__icon--menu"><i class="icon-efz"></i></a>

            <span class="mdc-toolbar__title" onclick="window.location='{% url 'jobs:index' %}'">EFZer 校友招</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            {% block toolbar %}

            {% endblock %}
        </section>
    </div>
</header>

{% endblock %}

<main>
        <div class="container">
            {% block content %}


            {% endblock %}
        </div>
</main>

<script src="{% static 'material-components-web.js' %}"></script>
<script>window.mdc.autoInit();</script>

</body>
</html>