{% extends 'jobs/base.html' %}
{% load i18n %}
{% block toolbar %}
    <a href="{% url 'jobs:add' %}" class="material-icons mdc-toolbar__icon" aria-label="Add" alt="Add">add</a>
    <a id="menu-search" href="#" class="material-icons mdc-toolbar__icon" aria-label="Search" alt="Search">search</a>
{% endblock %}


{% block content %}

    {% if job_list %}
        {% for job in job_list %}
            <div class="job-card mdc-card" onclick="window.location='{% url 'jobs:detail' job.id %}';">
                <div class="mdc-card__media">
                    <h1 class="mdc-card__title mdc-card__title--large">{{ job.company }} {{ job.job_position }}</h1>
                </div>
{#                <div class="mdl-card__title">#}
{#                    <h2 class="mdl-card__title-text"> {{ job.company }} </h2>#}
{#                </div>#}
                <div class="mdc-card__supporting-text">
                    <p>
                        <span class="job-prop"> <i class="material-icons">pin_drop</i> {{ job.location }} </span>
{#                        <span class="job-prop"> <i class="material-icons">work</i> {{ job.job_position }} </span>#}
                        <span class="job-prop"> <i class="material-icons">perm_contact_calendar</i> {{ job.get_type_display }} </span>
                        <span class="job-prop"> <i class="material-icons">domain</i> {{ job.department }} </span>
                        <span class="job-prop"> <i class="material-icons">payment</i> {{ job.salary }} </span>
                    </p>
                </div>
{#                <div class="mdl-card__menu">#}
{#                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">#}
{#                        <i class="material-icons">share</i>#}
{#                    </button>#}
{#                </div>#}
            </div>
        {% endfor %}
    {% else %}
        <div class="no-job-card mdc-card">
            <div class="mdc-card__primary">
                <h2 class="mdc-card__title mdc-card__title--large"> {% trans "暂无招聘信息。" %} </h2>
            </div>
        </div>
    {% endif %}
{#    <button class="mdc-fab material-icons" onclick="window.location='{% url 'jobs:add' %}'" aria-label="Add">#}
{#        <span class="mdc-fab__icon">#}
{#            add#}
{#        </span>#}
{#    </button>#}

    <div id="mdc-js-snackbar" class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="mdc-snackbar__text">Message</div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
        </div>
    </div>

    {% for message in messages %}
        <div id="add-success-message-snackbar" class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
            <div class="mdc-snackbar__text">{{ message }}</div>
            <div class="mdc-snackbar__action-wrapper">
                <button type="button" class="mdc-button mdc-snackbar__action-button">OK</button>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block script %}
<script>
      (function(global) {
          'use strict';
          var MDCSnackbar = global.mdc.snackbar.MDCSnackbar;
          var messageSnackbar = document.getElementById('add-success-message-snackbar');
          if (messageSnackbar) {
              var snackbar = new MDCSnackbar(messageSnackbar);
              snackbar.show({
                  message: "添加成功，等待审核。",
                  actionOnBottom: false,
                  multiline: false,
                  actionText: "快点",
                  timeout: 2000,
                  actionHandler: function () {
                      console.log("知道嘞，别催")
                  }
              });
          }
      })(this);
</script>
{% endblock %}