{% extends 'jobs/base.html' %}
{% block content %}
    {% if job_list %}
        {% for job in job_list %}
            <div class="job-card mdc-card" onclick="window.location='{% url 'jobs:detail' job.id %}';">
                <div class="mdc-card__media">
                    <h1 class="mdc-card__title mdc-card__title--large">{{ job.company }}</h1>
                </div>
{#                <div class="mdl-card__title">#}
{#                    <h2 class="mdl-card__title-text"> {{ job.company }} </h2>#}
{#                </div>#}
                <div class="mdc-card__supporting-text">
                    <p>
                        <span class="job-prop"> <i class="material-icons">pin_drop</i> {{ job.location }} </span>
                        <span class="job-prop"> <i class="material-icons">work</i> {{ job.job_position }} </span>
                        <span class="job-prop"> <i class="material-icons">domain</i> {{ job.department }} </span>
                    </p>
                </div>
{#                <div class="mdl-card__menu">#}
{#                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">#}
{#                        <i class="material-icons">share</i>#}
{#                    </button>#}
{#                </div>#}
            </div>
        {% endfor %}
    {% else %}
        <div class="job-card mdc-card">
            <div class="mdc-card__primary">
                <h2 class="mdc-card__title"> 暂无招聘信息。 </h2>
            </div>
        </div>
    {% endif %}
    <button class="mdc-fab material-icons" onclick="window.location='{% url 'jobs:add' %}'" aria-label="Add">
        <span class="mdc-fab__icon">
            add
        </span>
    </button>

    {% if snackbar_message %}
        <div id="mdc-js-snackbar" class="mdc-snackbar demo-hidden mdc-snackbar--active" aria-live="assertive" aria-atomic="true">
            <div class="mdc-snackbar__text">{{ snackbar_message }}</div>
        </div>
    {% endif %}

{% endblock %}