{% extends 'jobs/base.html' %}

{% block navbar %}

<header class="mdc-toolbar">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="/jobs" class="material-icons mdc-toolbar__icon--menu">home</a>
            <span class="mdc-toolbar__title">EFZer 校友招</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        </section>
    </div>
</header>

{% endblock %}



{% block content %}

    <div class="delete-confirm-card mdc-card">
        <div class="mdc-card__primary">
            <h2 class="mdc-card__title mdc-card__title--large"> 确认删除{{ job.company }}？ </h2>
        </div>
        <section class="mdc-card__actions">
            <form action="" method="post">{% csrf_token %}
                <button type="submit" class="mdc-button mdc-button--raised mdc-button--compact mdc-card__action">确认</button>
                <button onclick="window.history.back()" class="mdc-button mdc-button--compact mdc-card__action">取消</button>
            </form>
        </section>
    </div>

{% endblock %}