{% extends 'jobs/base.html' %}

{% block navbar %}

<header class="mdc-toolbar">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="/jobs" class="material-icons mdc-toolbar__icon--menu">home</a>
            <span class="mdc-toolbar__title">EFZer 校友招</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        </section>
    </div>
</header>

{% endblock %}



{% block content %}

<div class="add-job-panel mdc-card">
    <div class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">添加职位信息</h1>
    </div>
    <div class="add-job-form">
        <form name="add-job-form" action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="mdc-textfield {% if field.name == "description" or field.name == "requirements" or field.name == "company_description"%}mdc-textfield--multiline{% endif %} mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                    {{ field }}
                    <label class="mdc-textfield__label" for="id_{{ field.name }}">{{ field.label }}</label>
                </div>
            {% endfor %}

            <button type="submit" class="mdc-fab material-icons" aria-label="Submit">
                <span class="mdc-fab__icon">
                    send
                </span>
            </button>

        </form>
    </div>
</div>

{% endblock %}