{% extends 'jobs/base.html' %}

{% block content %}
<div class="login-panel mdc-card">
    <div class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">登录</h1>
    </div>
    <div class="login-form">
        <form action="{% url 'jobs:login' %}" method="post">
            {% csrf_token %}
            <div class="mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                <input required class="mdc-textfield__input" type="text" id="company" name="company"/>
                <label class="mdc-textfield__label" for="company">用户名</label>
            </div>
            <div class="mdc-textfield mdc-textfield--upgraded" data-mdc-auto-init="MDCTextfield">
                <input required class="mdc-textfield__input" type="password" id="location" name="location"/>
                <label class="mdc-textfield__label" for="location">密码</label>
            </div>
                <button class="mdc-fab material-icons" type="submit" aria-label="Login">
                    <span class="mdc-fab__icon">
                        send
                    </span>
                </button>
        </form>
    </div>
</div>
{% endblock %}